body {
  background-color: #000000;
  color: #ffffff

}

label {
  font-family: 'Abel', sans-serif;
  color: rgb(255, 255, 255)
}

.header_img {
  height: 150px;
  width: 150px;
}

#start {
  border: 2px;
  border-color: #ffffff;
}
