body {
  background-color: #000000;
  color: #ffffff

}

label {
  font-family: 'Abel', sans-serif;
  color: #ffffff;
}

.header_img {
  height: 150px;
  width: 150px;
}

#start {
  border: 2px;
  border-color: #ffffff;
}

.container {
  border: 2px solid #ffffff;
  display: inline-block;
  margin-left: 50px;
  margin-top: 100px;
  padding: 5px;
}

#effects {
  text-align: left;
}

h1 {
  font-size: 26px;
  font-family: 'Abel', sans-serif;
}
